* {
    box-sizing: border-box;
}

body {
    background-color: #213b50;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100vh;
}

form {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 0;
    padding: 10px;
    gap: 3px;
}

form label,
form p {
    display: flex;
    flex-basis: 100%;
}

form input[type="radio"] {
    display: inline-block;
    margin-right: 5px; /* Odstęp między radio buttonem a jego etykietą */
}

form .radio-group {
    display: flex;
    flex-direction: row; /* Wyświetlanie radio buttonów w rzędzie */
    align-items: center; /* Wyrównanie w pionie */
    flex-basis: 100%; /* Każda grupa zajmuje pełną szerokość */
    margin-bottom: 10px; /* Odstęp między grupami */
}

form .radio-group label {
    display: inline-block;
    margin-right: 10px; /* Odstęp między etykietą a kolejnym radio buttonem */
}
